body {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #A4193D, #FFDfB9);
    background-repeat: repeat-x;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    padding: 5rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ebc5cf;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    color: #dacaca;
    margin-bottom: 3rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 1rem;
}   

.buttons-grid button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #A4193D;
    font-family: Lora, serif;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons-grid button:hover {
    background-color: #FFDfB9;
    color: #A4193D;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 15px #FFDfB9;
}

@media (max-width: 600px) {
    .container {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .buttons-grid {
        grid-template-columns: 1fr;
    }
}







